@model Contact

<div class="col-md-8">
    <div class="contact-form">
        <form method="post" asp-action="SendMessage" asp-controller="Contact" asp-area="Catalog">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                        <input name="name" type="text" class="form-control" asp-for="NameSurname" placeholder="Adınız Soyadınız" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                        <input name="email" type="text" class="form-control" asp-for="EMail" placeholder="E-Mail Adresiniz" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                        <input name="subject" type="text" class="form-control" asp-for="Subject" placeholder="Konu" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <textarea name="message" rows="6" class="form-control" asp-for="MessageContent" placeholder="Mesajınız" required=""></textarea>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="filled-button">Mesajı Gönder</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>