@model AddRoleViewModel

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h4>Rol Ekleme Sayfası</h4>
<form method="post">
    <label>Rol Adını Giriniz</label>
    <input type="text" class="form-control" asp-for="RoleName" />
    <br />

    <button class="btn btn-outline-primary">Rolü Ekle</button>
</form>