<div class="happy-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Happy Partners</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel">
                    <div class="client-item">
                        <img src="assets/images/client-01.png" alt="1">
                    </div>

                    <div class="client-item">
                        <img src="assets/images/client-01.png" alt="2">
                    </div>

                    <div class="client-item">
                        <img src="assets/images/client-01.png" alt="3">
                    </div>

                    <div class="client-item">
                        <img src="assets/images/client-01.png" alt="4">
                    </div>

                    <div class="client-item">
                        <img src="assets/images/client-01.png" alt="5">
                    </div>

                    <div class="client-item">
                        <img src="assets/images/client-01.png" alt="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>