@model Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Ekleme Ekranı</h2>
<br />

<form method="post" class="form-group">
    @Html.HiddenFor(x => x.ProductId)

    <label>Resim</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />

    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <br />

    <label>Kategori</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.value, new {@class="form-control"})
    <br />

    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Ürün Ekle</button>
</form>