@model Product

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Güncelleme Ekranı</h2>
<br />

<form method="post" class="form-group">
    @Html.HiddenFor(x => x.ProductId)

    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <br />

    <label>Kategori</label>
    <input type="text" asp-for="CategoryId" class="form-control" />
    <br />

    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />

    <label>Resim</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Ürün Güncelle</button>
</form>