@model MailRequestViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h4>Mail Gönderme Sayfası</h4>

<form method="post">
    <label>Alıcı Mail Adresi</label>
    <input type="text" class="form-control" asp-for="ReceiverMail" />
    <br />

    <label>Mesajın Konusu</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />

    <label>Mesajın İçeriği</label>
    <input type="text" class="form-control" asp-for="Body" />
    <br />

    <button class="btn btn-outline-primary">Mail Gönder</button>
</form>
